<% if !user_signed_in? %>
  <div class="jumbotron" style="color:#777">
    <h1>Your Favorite Events Reviewed</h1>
    <p>FanCentral is the best way to review great experiences of the event you recently attended. FanCentral brings in the best of experiences and highlights the experiences of other Fans.</p>
    <center>
    <p>Check out how the Fans enjoyed the event</p>
      <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div></center>
<% end %>

<div class="row">
  <% @events.each do |event| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag event.image.url(:medium), class: 'image'), event %>
      </div>
    </div>
  <% end %>
</div>