<div class="row">
  <% @events.each do |event| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag event.image.url(:medium), class: 'image'), event %>
      </div>
    </div>
  <% end %>
</div>